@font-face {
    font-family: 'League Gothic Regular';
    src: url('../fonts/league_gothic-webfont.eot');
    src: url('../fonts/league_gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/league_gothic-webfont.woff2') format('woff2'),
         url('../fonts/league_gothic-webfont.woff') format('woff'),
         url('../fonts/league_gothic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'League Gothic Regular';
    src: url('../fonts/league_gothic-webfont.eot');
    src: url('../fonts/league_gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/league_gothic-webfont.woff2') format('woff2'),
         url('../fonts/league_gothic-webfont.woff') format('woff'),
         url('../fonts/league_gothic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
p,
a,
h1,
h2 {
font-family: 'League Gothic Regular';
color: #fff; 
}
@media only screen and (max-width: 479px) {
body {
    margin: 0;
    padding: 0;
}
.wrapper {
	width: 100%;	
    height: 100%;
}
.wrapper--top {
	background: url("../img/bg-top.jpg") no-repeat center 0;	
    padding-top: 73px;     
    position: relative; 
    height: 443px;  
}
.wrapper__container {
	width: 100%;
    max-width: 320px;
	margin: 0 auto;
	position: relative;
}
/*common styles for some text*/ 

/*HEADER*/
.logo,
.logo--top,
.logo--bottom {
	font-family: 'League Gothic Regular';
    font-size: 48px;    
    font-weight: 400;    
    line-height: 34px;
    /*position: relative;*/
}
.logo--top .logo__1st_part {
	color: #fff;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	letter-spacing: -0.6px;
}
.logo--top .logo__2nd_part {
	text-shadow: none;       
    color: #745083;
}
.logo--top .gradient {

}
.logo--top {
	margin: 0px auto 29px;
	width: 151px;	
}
.logo--bottom {	
    text-shadow: 0 1px 0 white;
    color: #454545;    
}
.logo--bottom .logo__2nd_part {
	text-shadow: 0 1px 0 white;
    color: #b9b9b9;
}
/*MENU-TOP*/
.menu--top {	
	width: 60px;
	height: 42px;	
    margin: -1px 41%; 
    overflow: hidden; 
    position: absolute;  
}
.menu--top  {    
    text-align: center;
}
.menu--top .menu__item {
    display: inline-block;
}
.menu--top .menu__item__link {
	font-family: 'League Gothic Regular', sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    text-decoration: none;
    width: 100%; 
    display: block;
    width: 48px;    
    padding-top: 5px;    
}
.menu__item__link--active {
	border-bottom: 3px solid #edbfff;   
}
.menu--top:hover .menu__item__link--active {
	border-bottom: none;
}
.menu--top:hover {
	display: block;
	position: absolute;    
    top: 62px;
    left: 11%;
    width: 244px;
    height: 261px;
    margin: 0 auto;
    background: #36293E; 
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";   
    border: 1px solid #051116;    
    z-index: 20;
}
.menu--top:hover .menu__item {
    display: block;
    width: 246px;
    height: 43px;       
    border-bottom: 1px solid black;
}
.menu--top:hover .menu__item:hover {
    background-color: #000;
    /*-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";*/
    border-bottom: #edbfff;
}
.menu--top:hover .menu__item__link {
    height: 38px;
    width: 246px;
    vertical-align: middle;   
    
}
.menu--top:hover .menu__item__link:hover {
	border-bottom: 3px solid #edbfff;
}
/*SLIDER*/
.wrapper--slider {
	position: relative;
	top: 79px;					
}
.slider {
	width: 280px;
	margin: 0 0 0 20.5%;	
    position: absolute; 
    top: 88px;   
}
.slider h1 {
	color: #fefefe;
	font-size: 36px;
	line-height: 24px;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	font-weight: 400;
	letter-spacing: 0;
	word-spacing: 0;
	text-align: left;	
}
.slider h1 span {
	letter-spacing: -0.2px;
}
.slider p.second_type {
	display: none;
}
.slider p {
	color: #edbfff;
	font-size: 18px;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    margin-top: 8px;
    text-align: left;
}
.selectors {	
	width: 102px;
    height: 17px;     
}
.selectors--top {
	position: absolute;
	top: 217px;
    left: 34.7%;
}
.selectors .selectors__item {	
	display: block;
	width: 17px;
    height: 17px;         
    background: url("../img/selector_top.png");       
    float: left;    
    position: relative;
}
.selectors .selectors__item--selected {
    background: url("../img/selector_top2.png") 0 -1px;
}
.selectors--top .selectors__item {	
	margin-left: 6px;
}
.selectors--top .selectors__item:first-child {
	margin-left: 14px;
}
.selectors__item__link {
	display: block;
	width: 16px;
	height: 16px;
}
/*ASIDE*/
.wrapper--aside  {	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#745083', EndColorStr='#322539');
    border: 1px solid #33253a; 
    border-left: none;
    border-right: none;
    position: relative;
}
.aside__block {
	height: 150px;
	width: 280px;
	margin: 0 auto;	
	box-sizing: border-box;	
	padding-left: 62px;
	background: url("../img/key.png") no-repeat 10px 1px;
}
.aside__block h2 {
	text-shadow: 0.5px 0.9px 0 #0f1518;    
    font-family: "League Gothic";
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 7px;
}
.aside__block p {
	text-shadow: 0.5px 0.9px 0 #0f1518;    
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 3px;
    overflow: hidden;
    width: 196px;
    height: 72px;
}
.aside__block a {
	text-shadow: 0.5px 0.9px 0 #0f1518;
    color: white;
    font-family: "League Gothic";
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    display: block;
    text-align: center;
    width: 64px;
    margin-left: 153px;
    margin-top: 13px;
}
.aside__block a:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}
.aside__block:first-child {
	margin-top: 70px;
}
.aside__block:first-child + * {
	margin-top: 7px;
}
.aside__block:first-child + * + * {
	margin-top: 23px;
	margin-bottom: 47px;	
}
.wrapper--aside:after {
	content: '';
    display: block; 
    width: 77.79%;
    height: 1px;
    bottom: -2px;
    left: 11.3618368962787%;
    border-radius: 50%;
    position: absolute;    
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.4);
    z-index: 20;
}
/*MAIN*/
.wrapper--main {
	width: 100%;
	height: 716px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #23323c;    
    padding-top: 70px;
}
.blog_post {	
	width: 256px;
    height: 272px;
    box-sizing: border-box;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
    background: #fff;
    margin-left: 44px;
    padding: 25px 24px 0 36px;    
    overflow: hidden;
}
.portrait {
	width: 49px;
	height: 49px;
	border-radius: 50%;
	background: url("../img/portrait.png");
    box-shadow: 1px 1.7px 0 white, inset 1px 1.7px 5px rgba(0, 0, 0, 0.3);
    position: absolute;
    margin-left: -59px;
    margin-top: -7px;
}
.blog_post h2 {
	color: #454545;
	font-size: 24px;
    margin-top: -6px;
}
.blog_post span.first_part,
.blog_post span.second_part
 {
	display: block;
}
.blog_post span.second_part {
	color: #edbfff;
}
.blog_post span.third {	
	letter-spacing: 0.3px;
}
.blog_post p {
	text-shadow: 0.5px 0.9px 0 white;
    color: #454545;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin: -6px 0 0 3px;    
    width: 180px;
    height: 169px; 
    overflow: hidden;  
}
.selectors_bottom .selectors__item {
	background: url("../img/selector_bottom.png");
    margin-left: 5px;
}
.selectors_bottom {
	margin: 24px 0 0 127px;
} 
.selectors_bottom .selectors__item:first-child {
	margin-left: 13px;
}
.selectors_bottom .selectors__item:first-child + * + * + * {
	margin-left: 4px;
}
.selectors_bottom .selectors__item--selected {
	background: url("../img/selector_bottom2.png") 0 -1px;
}
.recent_upd {
	width: 280px;	
	margin: 51px auto 0;	
}
.recent_upd__header {
	width: 140px;
    height: 22px;
    text-shadow: 0.5px 0.9px 0 white;
    color: #454545;
    font-family: "League Gothic";
    font-size: 30px;
    font-weight: 400;
    line-height: 24px;    
}
.recent_upd__post h3,
.recent_upd__post p {
	width: 212px; 
	height: 16px;   
    text-shadow: 0.5px 0.9px 0 white;
    color: #454545;
    font-family: "Open Sans";
    font-size: 16px;    
    font-weight: 900;
    overflow: hidden;    
}
.recent_upd__post p {
	font-weight: 300;
	width: 217px;    	
}
.recent_upd h3 {
	margin-bottom: 8px;
}
.recent_upd__post {
	height: 50px;
	padding: 5px 0 0 66px;	
}
.recent_upd__post.first_bg {
	margin-top: 20px;
	background: url("../img/bg_for_post1.png") no-repeat 1px 1px;
}
.recent_upd__post.second_bg {
	margin-top: 10px;
	background: url("../img/bg_for_post2.png") no-repeat 1px 1px;
}
.recent_upd__post.third_bg {
	margin-top: 15px;
	background: url("../img/bg_for_post3.png") no-repeat 1px 1px;
}
.recent_upd__more_posts {
	width: 96px;
    height: 14px;
    margin: 14px 0 0 187px;
}
.recent_upd__more_posts a.second_link {
	display: none;
}
.recent_upd__more_posts a{
	display: block;
	width: 96px;
    height: 14px;
    text-shadow: 0.5px 0.9px 0 white;
    color: #454545;
    font-family: "League Gothic";
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}
.recent_upd__more_posts a:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; 
} 
.wrapper--partners_section {	
	height: 422px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #23323c;    
}
.partners {
    width: 280px;
    margin: 0 auto;
    overflow: hidden;
}
.partners__item {
    list-style: none;
    display: block;
    width: 105px;
    height: 67px;
    float: left;    
    margin: 50px 0 0 21px;	
} 
.partners__item:first-child + * + * {
    margin-left: 21px;
}
.partners__item:first-child + * + *,
.partners__item:first-child + * + * + * {
	margin-top: 59px;
}
.partners__item:first-child + * + * + * + *,
.partners__item:first-child + * + * + * + * + * {
	margin-top: 40px;
}
.partners__item:first-child + *,
.partners__item:first-child + * + * + *,
.partners__item:first-child + * + * + * + * + * {
	margin-left: 32px;
}
.partners__item:first-child {
	background: url(../img/sprite.png) no-repeat 1px -14px;
}
.partners__item:first-child + * {
	background: url(../img/sprite.png) no-repeat -136px -14px;
}
.partners__item:first-child + * + * {
	background: url(../img/sprite.png) no-repeat -249px -14px;
    margin-left: 0px;
}
.partners__item:first-child + * + * + * {
	background: url(../img/sprite.png) no-repeat -386px -14px;
}
.partners__item:first-child + * + * + * + * {
	background: url(../img/sprite.png) no-repeat -522px -14px;
    margin-left: 26px;
}
.partners__item:first-child + * + * + * + * + * {
	background: url(../img/sprite.png) no-repeat -658px -14px;
    margin-left: 0px;
}
.partners a {
	display: block;
	width: 100%;
	height: 100%;
}
.partners__item:first-child:hover {
	background: url(../img/sprite.png) no-repeat 1px -114px;
}
.partners__item:first-child + *:hover {
	background: url(../img/sprite.png) no-repeat -136px -114px;
}
.partners__item:first-child + * + *:hover {
	background: url(../img/sprite.png) no-repeat -249px -114px;
}
.partners__item:first-child + * + * + *:hover {
	background: url(../img/sprite.png) no-repeat -386px -114px;
}
.partners__item:first-child + * + * + * + *:hover {
	background: url(../img/sprite.png) no-repeat -522px -114px;
}
.partners__item:first-child + * + * + * + * + *:hover {
	background: url(../img/sprite.png) no-repeat -658px -114px;
}
/*hidden blocks*/
.wrapper--news-categories {
	display: none;
}
.menu--bottom {
	display: none;
}
/*FOOTER*/
.wrapper--footer {
    background: url("../img/bg-footer.jpg") no-repeat center 0;
    height: 201px;   
    position: relative; 
}
.footer__text p {
	text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4);
    color: white;
    font-family: "Open Sans";
    font-size: 12px;    
    font-weight: 300;
    text-align: center;
    padding-top: 41px;        
}
.footer__text span {
    font-weight: 700;
}
}







