@font-face {
    font-family: 'League Gothic Regular';
    src: url('../fonts/league_gothic-webfont.eot');
    src: url('../fonts/league_gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/league_gothic-webfont.woff2') format('woff2'),
         url('../fonts/league_gothic-webfont.woff') format('woff'),
         url('../fonts/league_gothic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'League Gothic Regular';
    src: url('../fonts/league_gothic-webfont.eot');
    src: url('../fonts/league_gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/league_gothic-webfont.woff2') format('woff2'),
         url('../fonts/league_gothic-webfont.woff') format('woff'),
         url('../fonts/league_gothic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
body {
    margin: 0;
    padding: 0;
}
.wrapper {
	width: 100%;	
    height: 100%;
}
.wrapper--top {	
    background: url("../img/bg-top.jpg") no-repeat center 0;   
    padding-top: 73px;     
    position: relative; 
    height: 476px;  
}

.wrapper__container {
	width: 100%;
    max-width: 480px;
    height: 100%;
	margin: 0 auto;
	position: relative;
}
/*common styles for some text*/ 
p,
a,
h1,
h2 {
font-family: 'League Gothic Regular';
color: #fff; 
}
/*HEADER*/
.logo {
	font-family: 'League Gothic Regular';
    font-size: 48px;    
    font-weight: 400;    
    line-height: 34px;
    
}
.logo__1st_part {
	color: #fff;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	letter-spacing: -0.6px;
}
.logo__2nd_part {
	text-shadow: none;      
    color: #745083;
}
.logo--top {
	margin: 0px auto 29px;
	width: 151px;	
}
/*MENU-TOP*/
.menu--top {	
	width: 58px;
	height: 53px;
    margin: -2px 0 0 44.2%;
    overflow: hidden;       
}
.menu--top {    
    text-align: center;
}
.menu--top .menu__item {
    display: inline-block;
}
.menu--top .menu__item__link {
	font-family: 'League Gothic Regular', sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    text-decoration: none;
    width: 100%; 
    display: block;
    width: 48px;    
    padding-top: 5px;    
}
.menu__item__link--active {
	border-bottom: 3px solid #edbfff;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}
.menu--top:hover .menu__item__link--active {
	border-bottom: none;
}
.menu--top:hover {    
	display: block;
	position: absolute;    
    top: 60px;
    left: 24.5%;
    width: 244px;
    height: 261px;
    margin: 0 auto;
    background: #36293E; 
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";   
    border: 1px solid #051116;   
    z-index: 20;        
}
.menu--top:hover .menu__item {    
    display: block;
    width: 246px;
    height: 43px;       
    border-bottom: 1px solid black;       
}
.menu--top:hover .menu__item:hover {
    background-color: #000;
    /*-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";   */
    border-bottom: #edbfff;
}
.menu--top:hover .menu__item__link {
    height: 38px;
    width: 246px;
    vertical-align: middle;    
}
.menu--top:hover .menu__item__link:hover {
	border-bottom: 3px solid #edbfff;
}



/*SLIDER*/
.wrapper--slider {
	position: absolute;
	top: 203px;	
	height: 246px;
	background-color: #000; 
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	width: 100%;
	margin: 0 auto;				
}
.wrapper--slider .wrapper__container {
	background: url("../img/iphone.png") no-repeat 89.6% -5%;
    height: 135%;
    margin-top: -9px;
}
.slider {
	width: 280px;
    margin: 109px 0 0 8.5%;
    position: absolute;       
}
.slider h1 {
	color: #fefefe;
	font-size: 36px;
	line-height: 24px;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	font-weight: 400;
	letter-spacing: 0;
	word-spacing: 0;
	text-align: left;	
}
.slider h1 span {
	letter-spacing: -0.2px;
}
.slider p.second_type {
	display: none;
}
.slider p {
	color: #edbfff;
	font-size: 18px;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    margin-top: 8px;
    text-align: left;
}
.selectors {
	width: 140px;
    height: 17px; 
    position: absolute;  
    margin: 118px auto 68px;
}
.selectors--top {
	position: absolute;  
    margin: 277px 0 0 30%;
}
.selectors .selectors__item {	
	display: block;
	width: 17px;
    height: 17px;         
    background: url("../img/selector_top.png");
    float: left;    
    position: relative;
}
.selectors .selectors__item--selected {
    background: url("../img/selector_top2.png") 0 -1px;
}
.selectors--top .selectors__item {	
	margin-left: 6px;
}
.selectors--top .selectors__item:first-child {
	margin-left: 14px;
}
.selectors__item__link {
	display: block;
	width: 16px;
	height: 16px;
}
/*ASIDE*/
.wrapper--aside  {
	width: 100%;
	height: 596px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#745083', EndColorStr='#322539');
    border: 1px solid #33253a; 
    border-left: none;
    border-right: none;   
    position: relative;     
}
.aside__block {		
	height: 150px;
	width: 440px;
	margin: 0 auto;	
	box-sizing: border-box;	
	padding-left: 64px;
	background: url("../img/key.png") no-repeat 12px 1px;
}
.aside__block h2 {
	text-shadow: 0.5px 0.9px 0 #0f1518;    
    font-family: "League Gothic";
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 5px;
}
.aside__block p {
	width: 370px;
	height: 72px;
	overflow: hidden;
	text-shadow: 0.5px 0.9px 0 #0f1518;    
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 3px;
}
.aside__block a {
	text-shadow: 0.5px 0.9px 0 #0f1518;
    color: white;
    font-family: "League Gothic";
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    display: block;
    text-align: center;
    width: 64px;
    margin-left: 311px;
    margin-top: 14px;
}
.aside__block a:hover {
	text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}
.aside__block:first-child {
	margin-top: 76px;
}
.aside__block:first-child + * {
	margin-top: 7px;
}
.aside__block:first-child + * + * {
	margin-top: 11px;
	margin-bottom: 47px;	
}
.aside__block a:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}
.wrapper--aside:after {
	content: '';
    display: block; 
    width: 77.79%;
    height: 1px;
    bottom: -2px;
    left: 11.3618368962787%;
    border-radius: 50%;
    position: absolute;    
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.4);
    z-index: 20;
}
/*MAIN*/
.wrapper--main {
	width: 100%;
	height: 716px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #d1cccc;    
    padding-top: 70px;
}
.blog_post {
	width: 416px;
    height: 272px;
    box-sizing: border-box;    
    background: #fff;
    margin-left: 44px;
    padding: 25px 24px 0 36px;    
    overflow: hidden;         
}
.portrait {
	width: 49px;
	height: 49px;
	border-radius: 50%;
	background: url("../img/portrait.png");
    box-shadow: 1px 1.7px 0 white, inset 1px 1.7px 5px rgba(0, 0, 0, 0.3);
    position: absolute;
    margin-left: -59px;
    margin-top: -7px;
}
.blog_post h2 {
	color: #454545;	
	font-family: "League Gothic";
    font-size: 30px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    margin: 5px 0 0 4px;
}
.blog_post span.second_part {
	color: #edbfff;
}
.blog_post p {
	text-shadow: 0.5px 0.9px 0 white;
    color: #454545;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 17px;
    padding-left: 3px;    
    text-shadow: 0.5px 0.9px 0 white;
    width: 350px;
    height: 169px;    
    overflow: hidden;   
}
.selectors_bottom .selectors__item {
	background: url("../img/selector_bottom.png");
    margin-left: 5px;
}
.selectors_bottom {
	margin: 23px 0 0 40%;
} 
.selectors_bottom .selectors__item:first-child {
	margin-left: 13px;
}
.selectors_bottom .selectors__item:first-child + * + * + * {
	margin-left: 4px;
}
.selectors_bottom .selectors__item--selected {
    background: url("../img/selector_bottom2.png") 0 -1px;
}
.recent_upd {
	width: 311px;	
	margin: 92px auto 0;	
}
.recent_upd__header {
	width: 140px;
    height: 22px;
    text-shadow: 0.5px 0.9px 0 white;
    color: #454545;
    font-family: "League Gothic";
    font-size: 30px;
    font-weight: 400;
    line-height: 24px;    
}
.recent_upd__post h3,
.recent_upd__post p {
	width: 260px;    
    text-shadow: 0.5px 0.9px 0 white;
    color: #454545;
    font-family: "Open Sans";
    font-size: 16px;    
    font-weight: 900;    
}
.recent_upd__post p {
	font-weight: 300;
	height: 18px;
	overflow: hidden;
    			
}
.recent_upd h3 {
	margin-bottom: 8px;
}
.recent_upd__post {
	height: 50px;
	padding: 5px 0 0 66px;		
}
.recent_upd__post.first_bg {
	margin-top: 20px;
	background: url("../img/bg_for_post1.png") no-repeat 1px 1px;
}
.recent_upd__post.second_bg {
	margin-top: 13px;
	background: url("../img/bg_for_post2.png") no-repeat 1px 1px;
}
.recent_upd__post.third_bg {
	margin-top: 11px;
	background: url("../img/bg_for_post3.png") no-repeat 1px 1px;
}
.recent_upd__more_posts {
	width: 96px;
    height: 14px;
    margin: 14px 0 0 249px;
}
.recent_upd__more_posts a.second_link {
	display: none;
}
.recent_upd__more_posts a{
	display: block;
	width: 96px;
    height: 14px;
    text-shadow: 0.5px 0.9px 0 white;
    color: #454545;
    font-family: "League Gothic";
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}
.recent_upd__more_posts a:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; 
}  
.wrapper--partners_section {
	width: 100%;
	height: 232px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #d1cccc;        
}
.partners {
    width: 360px;
    margin: 0 auto;
    overflow: hidden;
}
.partners__item {
    list-style: none;
    display: block;
    width: 105px;
    height: 67px;
    float: left;   
    margin: 35px 0 0 2px;	
} 
.partners__item:first-child + * {
    margin-left: 32px;
}
.partners__item:first-child + * + * {
	margin-left: 0;
}
.partners__item:first-child + * + * + * {	
	margin-top: 24px;
}
.partners__item:first-child + * + * + * + * {   
    margin-top: 24px;
}
.partners__item:first-child + * + * + * + * + * {   
    margin-top: 24px;
}
.partners__item:first-child + * + * + * {
    margin-left: -14px;
}
.partners__item:first-child + * + * + * + * {
	margin-left: 24px;
}
.partners__item:first-child + * + * + * + * + * {
	margin-left: 31px;
}
.partners__item:first-child {
	background: url(../img/sprite.png) no-repeat 1px -13px;
}
.partners__item:first-child + * {
	background: url(../img/sprite.png) no-repeat -136px -14px;
}
.partners__item:first-child + * + * {
	background: url(../img/sprite.png) no-repeat -249px -14px;
}
.partners__item:first-child + * + * + * {
	background: url(../img/sprite.png) no-repeat -386px -14px;
}
.partners__item:first-child + * + * + * + * {
	background: url(../img/sprite.png) no-repeat -522px -13px;
}
.partners__item:first-child + * + * + * + * + * {
	background: url(../img/sprite.png) no-repeat -658px -13px;
}
.partners a {
	display: block;
	width: 100%;
	height: 100%;
}
.partners__item:first-child:hover {
	background: url(../img/sprite.png) no-repeat 1px -113px;
}
.partners__item:first-child + *:hover {
	background: url(../img/sprite.png) no-repeat -136px -114px;
}
.partners__item:first-child + * + *:hover {
	background: url(../img/sprite.png) no-repeat -249px -114px;
}
.partners__item:first-child + * + * + *:hover {
	background: url(../img/sprite.png) no-repeat -386px -114px;
}
.partners__item:first-child + * + * + * + *:hover {
	background: url(../img/sprite.png) no-repeat -522px -113px;
}
.partners__item:first-child + * + * + * + * + *:hover {
	background: url(../img/sprite.png) no-repeat -658px -113px;
}
/*SECTION .news-categories*/
.wrapper--news-categories {
	height: 590px;
	background: #ececec;
	padding-top: 79px;	
}
.news-categories__header {
	width: 124px;    
    text-shadow: 0.5px 0.9px 0 white;
    color: #454545;
    font-family: "League Gothic";
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
}
.news-categories__content {
	width: 446px;
    height: 100px;
    text-shadow: 0.5px 0.9px 0 white;
    color: #787878;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    overflow: hidden;
    margin-top: 9px;
}
.news-categories__article {
    margin-left: 20px;
    margin-bottom: 52px;
}
.news-categories__article:first-child + * {
	margin-bottom: 55px;
}
.logo--bottom,
.news-categories__article:first-child p.first,
.news-categories__article:first-child + * header.third {
    display: none;
}
/*FOOTER*/
.wrapper--footer {
    background: url("../img/bg-footer.jpg") no-repeat center 0;
    height: 163px;   
    position: relative;
    padding-top: 38px; 
}

.menu--bottom .menu__item {
    display: inline-block;
    margin-left: 21px;
}
.menu--bottom .menu__item:first-child {
	margin-left: 23px;
    
}
.menu--bottom .menu__item__link {
	text-decoration: none;
	text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4);
    color: white;
    font-family: "League Gothic";
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    text-transform: uppercase;
}
.menu--bottom .menu__item__link:hover {   
    color: #745083;
}
.menu--bottom .menu__item__link--active:hover {
    color: #fff;
}
.footer__text {
	width: 142px;
	margin: 0 auto;
}
.footer__text p {
	text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4);
    color: white;
    font-family: "Open Sans";
    font-size: 12px;    
    font-weight: 300;
    text-align: center;
    padding-top: 30px;        
}
.footer__text p span {
    font-weight: 700;    
}
}








